{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ user.username }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    <h1>{{ user.username }} - Dashboard</h1>

    {% comment %} `object` is a `CustomUser` {% endcomment %}
    {% comment %} Can add `object.values` and `object.goals` later. {% endcomment %}
    {{ object.username }}
    <br>
    <h2>Journals</h2>
    {% comment %} {{ object.journals.all }} {% endcomment %}
    {% comment %} Order the Journals by reverse order of "date" ('Created Date'). {% endcomment %}
    {{ object.journals.all|dictsortreversed:"date" }}
    <br>
    <h2>Questions</h2>
    {{ object.questions.all }}
    
{% endblock content %}