{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}

    <h1>Journal List</h1>
    <a href={% url 'home' %}>Home</a>
    <br>

    <hr>
    {% for journal in journal_list %}
        <a href={% url 'rodbt:journal-detail' journal.id %}>
            {{ journal.title | truncatewords:5 }}
        </a>
        <br>
        {{ journal.body | linebreaks }}
        {% comment %} TEMPORARY {% endcomment %}
        {{ journal.author}}
        |
        {{ journal.questions.all }}
        {% comment %} TEMPORARY {% endcomment %}
        <hr>
    {% endfor %}
    
{% endblock content %}