{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}

    <h1>Question List</h1>
    <a href={% url 'home' %}>Home</a>
    <br>

    <hr>
    {% for question in question_list %}
        {% comment %} TEMPORARY {% endcomment %}
        {{ question.author }}
        |
        {% comment %} TEMPORARY {% endcomment %}
        <a href={% url 'rodbt:question-detail' question.id %}>
            {{ question.body }}
        </a>
        {% comment %} TEMPORARY {% endcomment %}
        {{ question.journal.all }}
        {% comment %} TEMPORARY {% endcomment %}
        <br>

    {% endfor %}
    
{% endblock content %}